.dots {
  display: flex;
  gap: 8px;
  justify-self: flex-start;
}

.dot {
  width: 14px;
  height: 14px;
  border-radius: 50%;
  border: 2px solid var(--color-white);
  cursor: pointer;
  background-color: transparent;
}

.dot:nth-child(1).activeBtn {
  background-color: var(--color-2);
}
.dot:nth-child(2).activeBtn {
  background-color: var(--color-2);
}
.dot:nth-child(3).activeBtn {
  background-color: var(--color-2);
}

.dot:active,
.dot:focus {
  outline: none;
}
